.container {
  position: relative;
}

.center {
  text-align: center;
}

#canvas-video {
  width: 160px;
  height: 120px;
  border: 1px solid #ccc;

  position: absolute;
  top: 0;
  left: 0;
}

.flip-horizontal {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;	
}

.stream-video {
  width: 640px;
  height: 480px;
  border: 1px solid #ccc;
}

.panelContainer {
  display: table;
  width: 100%;
}

.panelLeft,
.panelRight {
  display: table-cell;
  vertical-align: middle;  
}

.panelLeft {
  width: 40%;
}

.panelRight {
  width: 60%;
}
